In [436]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder 
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [437]:
data=pd.read_csv('/kaggle/input/customer/Customer Purchase.csv')
data.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

# ordinal value

In [438]:
df=data.iloc[:,3:]

In [439]:
df.head()

  Education   Review Purchased
0    School  Average        No
1        UG     Poor        No
2        PG     Good        No
3        PG     Good        No
4        UG  Average        No

In [440]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [441]:
x.head()

  Education   Review
0    School  Average
1        UG     Poor
2        PG     Good
3        PG     Good
4        UG  Average

In [442]:
y.head()

0    No
1    No
2    No
3    No
4    No
Name: Purchased, dtype: object

In [443]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [444]:
x_train.shape

(40, 2)

In [445]:
df.shape

(50, 3)

In [446]:
oe=OrdinalEncoder(categories=[['School','UG','PG'],['Poor','Average','Good']])
oe.fit(x_train)

OrdinalEncoder(categories=[['School', 'UG', 'PG'], ['Poor', 'Average', 'Good']])

In [447]:
x_train=oe.transform(x_train)

In [448]:
x_train

array([[1., 1.],
       [2., 2.],
       [2., 0.],
       [1., 2.],
       [0., 1.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [0., 1.],
       [2., 1.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [2., 2.],
       [1., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [1., 0.],
       [1., 2.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [2., 0.]])

In [449]:
oe.categories_

[array(['School', 'UG', 'PG'], dtype=object),
 array(['Poor', 'Average', 'Good'], dtype=object)]

In [450]:
le=LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [451]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [452]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [453]:
y_test

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 1])

# NOMINAL VALUE

In [454]:
df=pd.read_csv('/kaggle/input/carprice/Clean Data For Tableau Car Details From CarDekho.com.csv')
df

,Name,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [455]:
df1 = df.drop(['Year','Seller_Type','Transmission'], axis=1)

In [456]:
df1

         Name  Selling_Price  KM_Driven    Fuel         Owner
0      Maruti          60000      70000  Petrol   First Owner
1      Maruti         135000      50000  Petrol   First Owner
2     Hyundai         600000     100000  Diesel   First Owner
3      Datsun         250000      46000  Petrol   First Owner
4       Honda         450000     141000  Diesel  Second Owner
...       ...            ...        ...     ...           ...
4335  Hyundai         409999      80000  Diesel  Second Owner
4336  Hyundai         409999      80000  Diesel  Second Owner
4337   Maruti         110000      83000  Petrol  Second Owner
4338  Hyundai         865000      90000  Diesel   First Owner
4339  Renault         225000      40000  Petrol   First Owner

[4340 rows x 5 columns]

In [457]:
df1 = df[['Name','KM_Driven','Fuel','Owner','Selling_Price']]
df1

         Name  KM_Driven    Fuel         Owner  Selling_Price
0      Maruti      70000  Petrol   First Owner          60000
1      Maruti      50000  Petrol   First Owner         135000
2     Hyundai     100000  Diesel   First Owner         600000
3      Datsun      46000  Petrol   First Owner         250000
4       Honda     141000  Diesel  Second Owner         450000
...       ...        ...     ...           ...            ...
4335  Hyundai      80000  Diesel  Second Owner         409999
4336  Hyundai      80000  Diesel  Second Owner         409999
4337   Maruti      83000  Petrol  Second Owner         110000
4338  Hyundai      90000  Diesel   First Owner         865000
4339  Renault      40000  Petrol   First Owner         225000

[4340 rows x 5 columns]

In [458]:
# pd.get_dummies(df1.colums==['Fuel','Owner'])

In [459]:
df1['Owner'].value_counts()

Owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [460]:
x=df1.iloc[:,:-1]
y=df1.iloc[:,-1]

In [461]:
x.head()

      Name  KM_Driven    Fuel         Owner
0   Maruti      70000  Petrol   First Owner
1   Maruti      50000  Petrol   First Owner
2  Hyundai     100000  Diesel   First Owner
3   Datsun      46000  Petrol   First Owner
4    Honda     141000  Diesel  Second Owner

In [462]:
y.head()

0     60000
1    135000
2    600000
3    250000
4    450000
Name: Selling_Price, dtype: int64

In [463]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [464]:
ohe=OneHotEncoder()
x_train_tranformed=ohe.fit_transform(x_train[['Fuel','Owner']]).toarray()

In [465]:
df2=pd.DataFrame(x_train_tranformed,dtype=int)

In [466]:
df2

      0  1  2  3  4  5  6  7  8  9
0     0  0  0  0  1  0  0  1  0  0
1     0  0  0  0  1  0  0  1  0  0
2     0  1  0  0  0  1  0  0  0  0
3     0  1  0  0  0  1  0  0  0  0
4     0  0  0  0  1  0  0  1  0  0
...  .. .. .. .. .. .. .. .. .. ..
3467  0  0  0  0  1  1  0  0  0  0
3468  0  1  0  0  0  1  0  0  0  0
3469  0  1  0  0  0  1  0  0  0  0
3470  0  0  0  0  1  1  0  0  0  0
3471  0  1  0  0  0  1  0  0  0  0

[3472 rows x 10 columns]

In [469]:
df1['Fuel'].value_counts()

Fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [470]:
df1['Owner'].value_counts()

Owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [474]:
x1=np.hstack((x_train[['Name','KM_Driven']].values,x_train_tranformed))

In [475]:
x1

array([['Maruti', 79000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Chevrolet', 80000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Ford', 25061, 0.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['BMW', 13000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 24662, 0.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 44000, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)